<p>
  The <a href="{{site.swc_site}}">CI workshop</a>
  aims to teach developers and data scientists the basics and conventions for Continuous Integration at IDS. 
  The workshop consists of two main parts. 
  First participants will setup a workflow from an existing template to automatically test, build, publish their application.
  Next participants can use several provided working templates for common apps 
  to learn about common CI/CD workflows and apply them to their own applications.
</p>
